{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- Table -->
<h2>Lista de Bots</h2>
<br>
<table id="bots-table" class="table table-striped table-bordered text-nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>UUID</th>
      <th>OS</th>
      <th>Username</th>
      <th>Last Connection</th>
    </tr>
  </thead>
  <tbody>
  {% for bot in bots %}
    <tr>
      <td>{{ bot.uuid }}</td>
      <td>{{ bot.os }}</td>
      <td>{{ bot.username }}</td>
      <td>{{ bot.last_connection | naturaltime }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<br>

<h2>Lista de Tareas</h2>
<table id="tasks-table" class="table table-striped table-bordered text-nowrap" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Command</th>
      <th>Bot UUID</th>
      <th>Bot Username</th>
      <th>Answer</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
    <tr>
      <td>{{ task.command }}</td>
      <td>{{ task.bot.uuid }}</td>
      <td>{{ task.bot.username }}</td>
      <td>{{ task.answer }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br>
<br>

<h2>Distribuir Tarea de Cracking</h2>
<form action="{% url 'run_command' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="url" placeholder="Hashes URL (Ex: http://domain.com/hashlist.txt)">
    <select class="form-control" name="hashing-algorithm">
      <option>MD5</option>
      <option>SHA1</option>
      <option>SHA224</option>
      <option>SHA256</option>
      <option>SHA385</option>
      <option>SHA512</option>
    </select>
    <input type="text" class="form-control" name="charset" placeholder="Character set (Ex: lLds)">
    <input type="text" class="form-control" name="length" placeholder="Word length (Ex: 5)">
    <input type="text" class="form-control" name="bots" placeholder="Bots (Ex: 10)">
    <input type="submit" value="Submit" class="btn btn-primary">
  </div>
</form>


{% endblock %}
